<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>


    <div class="container">

        <!-- The form used to add a new account -->
        <form action="/users/reg" method="post" class="login">
            <span class="label">Username:</span> 
            <input type="text" name="uname">
            <span class="label">Password:</span> 
            <input type="password" name="password">
            <span class="label">Confirm</span> 
            <input type="password" name="confirm">
            <button>Register</button>
        </form>
    </div>
</body>
</html>